<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>	
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		
		<p><%= autor%></p>
		<IMG SRC="author.ico">
	</body>
</html>

