<h3>Estadísticas</h3>
<table>
  <tbody>
    <% var i; for (i=0; i < datos.length; i++) { %>
    <tr>
      <td><%= datos[i].texto %>:</td>
      <td><%= datos[i].valor %></td>
    </tr>
    <% } %>
  </tbody>
</table>
